<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Add Address</title>
</head>
<body>
    <form th:object="${address}" th:action="@{/admin/address/saveAddress}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="m-3" style="width: 40%;">
            <label for="city" class="form-label">Enter City</label>
            <input id="city" type="text" th:field="*{city}" class="form-control">
        </div>
        <br>
        <div class="m-3" style="width: 40%;">
            <label for="street" class="form-label">Enter Street</label>
            <input id="street" type="text" th:field="*{street}" class="form-control">
        </div >
        <br>
        <div class="m-3" style="width: 40%">
            <label for="zipcode" class="form-label">Enter Zipcode</label>
            <input id="zipcode" type="number" th:field="*{zipcode}" class="form-control">
        </div>

        <div class="m-3">
            <input type="submit" class="btn btn-primary">
            <input type="reset" class="btn btn-danger">
        </div>
    </form>
</body>
</html>